.App {
  text-align: center;
}

.formbody {
  display: flex;
  justify-content: center;
  color: white;
  align-content: center;
}

.App {
  background: linear-gradient(0deg, #000000, #ff0000, #1c00ff, #f9ff00);
  background-size: 800% 800%;

  -webkit-animation: backgroundAnimation 59s ease infinite;
  -moz-animation: backgroundAnimation 59s ease infinite;
  animation: backgroundAnimation 59s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@-moz-keyframes backgroundAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@keyframes backgroundAnimation {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}